
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

a{
  text-decoration: none;
  cursor: pointer;
}

 #menuu:hover {
  background: rgba(243, 103, 199, 0.4);
}

 li a:hover {
  background: rgba(243, 103, 199, 0.4);
}

h2 p{
font-family: 'Young Serif', serif;
}


 p{
  font-family: 'Young Serif', serif;
  font-weight: 200;
  }

  
.btn{
  font-family: 'Young Serif', serif;
  font-weight: 200;
  }

  body{
    background-color: rgb(240, 218, 210);
    font-family: 'Young Serif', serif;
    font-weight: 200;
    }

    

      
    footer .row
    {
      background-color: rgb(240, 218, 210);
    
      }

      
    #texto
    {
      color: rgb(0, 0, 0);
    }
